
.p-dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f4f4f4;
  }
  
  .p-dialog-title {
    font-weight: bold;
  }
  
  .p-dialog-content {
    padding: 1rem;
  }
  
  .form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* space between items */
  }
  
  .form-group {
    flex: 1 1 48%; /* Take up approximately half the width of the container */
    display: flex;
    flex-direction: column;
    min-width: 250px; /* Prevent fields from getting too small on small screens */
  }
  
  .full-width {
    flex: 1 1 100%;
  }
  
  .p-dialog-content {
    padding: 20px;
  }
  
  .p-dialog-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .savebtn {
    background-color:#0D1046;
    color: white;
  }
  
  .savebtn1 {
    background-color: red;
    color: white;
  }

  .cross{
    cursor: pointer;
  }