<div id="maindiv">

    <!-- top-header -->
    <section class="shadow-3 border-round-sm">

        <div class="top-header">
            <h2>Enrollment List</h2>
            <div class="header-controls">
                <input type="text" pInputText placeholder="Search by name" />
                <p-dropdown [options]="statusOptions" placeholder="Status"></p-dropdown>
                <button pButton type="button" label="Add" icon="pi pi-plus" class="add-button"></button>
            </div>
        </div>

    </section>

    <!-- top-header  -->


    <!-- main-content -->

    <section class="shadow-3 border-round-sm">

        <p-table [value]="instructors" responsiveLayout="scroll" [paginator]="true" [rows]="rows" [first]="first"
            (onPage)="onPageChange($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th> <p-checkbox [(ngModel)]="checkedall" [binary]="true" inputId="binary" /></th>
                    <th>User</th>
                    <th>Phone</th>
                    <th>Enrolled Courses</th>
                    <th>Enrollment Date</th>
                    <th>Status</th>

                    <th>
                        <button class="actionicon" pButton type="button" icon="pi pi-ellipsis-h"
                            (click)="opt.toggle($event)"></button>

                        <!-- Overlay Panel -->
                        <p-overlayPanel #opt>
                            <div class="menu">
                                <div class="menu-item">
                                    <button class="actioniconover" label="Send Email to All" pButton type="button"
                                        icon="pi pi-envelope"></button>
                                </div>

                                <div class="menu-item">
                                    <button class="actioniconover" label="Suspend Selected" pButton type="button"
                                        icon="pi pi-ban"></button>
                                </div>

                                <div class="menu-item">
                                    <button class="actioniconover"  label="Remove Selected" pButton type="button"
                                        icon="pi pi-trash"></button>
                                </div>
                            </div>
                        </p-overlayPanel>

                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-instructor>
                <tr class="table-row">
                    <td> <p-checkbox [(ngModel)]="checkedone" [binary]="true" inputId="binary" /></td>
                    <td>
                        <div class="instructor-info">
                            <img [src]="instructor.image" alt="Instructor Image" class="instructor-image">
                            <div>
                                <div class="instructor-name">{{ instructor.user }}</div>
                                <div class="instructor-email">{{ instructor.email }}</div>
                            </div>
                        </div>
                    </td>
                    <td>{{ instructor.phone }}</td>
                    <td>{{ instructor.country }}</td>
                    <td>{{ instructor.enrollDate }}</td>
                    <td>
                        <span class="status" [ngClass]="getStatusClass(instructor.status)">{{ instructor.status
                            }}</span>
                    </td>

                    <td>
                        <button class="actionicon" pButton type="button" icon="pi pi-ellipsis-h"
                          (click)="op.toggle($event)"></button>
            
                        <!-- Overlay Panel -->
                        <p-overlayPanel #op>
                          <div class="menu">
                            <div class="menu-item">
                              <button class="actioniconover" (click)="selectbtn(op)" label="View Details" pButton type="button"
                                icon="pi pi-eye"></button>
                            </div>             
            
                            <div class="menu-item">

                              <button class="actioniconover" (click)="selectbtn(op)"  label="Activities" pButton type="button"
                                icon="pi pi-chart-line"></button>
                            </div>             
                          </div>
                        </p-overlayPanel>
            
                      </td>
                </tr>
            </ng-template>
        </p-table>
    </section>
    <!-- main-content -->
</div>