#main {
  width: 97%;
  margin: auto;
}

/* top-header */

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  margin-bottom: 2px;
}

.title-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.title-section h1 {
  margin: 0;
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  width: 100%;
}

/* main-section */

.username {
  color: green;
  margin-left: 0.2%;
}


.container {
  width: 100%;
  height: 50vh;
}


.header h1 {
  font-size: 24px;
}

.header span {
  color: #703fe5;
}

/* personal information tab */

.info-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.info-item label {
  font-weight: bold;
}

.courses-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 16px 10px 16px;
  margin-top: 1.2rem;
}

.course-info {
  display: flex;
  flex-direction: column;
}

.course-info h3 {
  margin: 0;
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
  color: #000;
}

.course-actions {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.admin-note {
  margin-top: 20px;
  overflow-y: auto;
}

.admin-note h3 {
  font-size: 18px;
}

.admin-note p {
  margin-top: 10px;
}

.admin-note button {
  background-color: #ff4b4b;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.admin-note button:hover {
  background-color: #e04343;
}

.actionicon3 {
  background-color: red;
}

/* --------------- overviews section ---------------- */
.dashboard {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.large{
  width: 60%;
  height: 30vh;
}
.leftdiv{
  border: 1px solid blue;
  width: 38%;
}

/* .chart-container canvas {
  width: 100% !important;
  height: 100% !important;
} */

.other-stats,.stat-box{
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 0.8;
}

.card-header h2 {
  font-size: 1.5rem;
  margin: 0 0 1rem;
}

.earning-stats {
  display: flex;
  justify-content: space-between;
}

.stat {
  text-align: left;
}

.stat h3 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.stat p {
  font-size: 1.25rem;
  margin: 0;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.chart-container {
  margin-top: 1rem;
}

/* Responsive behavior */
@media (max-width: 768px) {
  .large, .small {
    flex: 1 1 100%; /* Full width on small screens */
  }
}



/* --------------- overviews section ---------------- */



/* --------------- Course Tab --------------*/

:host ::ng-deep .p-datatable {
  width: 100%;
  overflow-x: auto;
}

:host ::ng-deep .p-datatable-tbody>tr>td {
  white-space: nowrap;
}

:host ::ng-deep .p-badge-success {
  background-color: #28a745 !important;
}

:host ::ng-deep .p-badge-warning {
  background-color: #ffc107 !important;
}

:host ::ng-deep .p-badge-danger {
  background-color: #dc3545 !important;
}

.actionicon {
  background-color: #fff;
  color: black;
  border: none;
}



/* --------------- Course Tab --------------*/



/* ---------------- Review Tab --------------- */

.instructor-info {
  display: flex;
  align-items: center;
}

section.shadow-3.border-round-sm {
  margin-top: 26px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: auto;
  margin-bottom: 26px;
}

.instructor-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.instructor-name {
  font-weight: bold;
}

.status {
  padding: 5px 10px;
  border-radius: 12px;
  text-align: center;
  width: 78%;
}

.status.Active {
  background-color: #28a745;
  color: white;
  display: block;
}

.status.Pending {
  background-color: #ffc107;
  color: white;
  display: block;
}

.status.Canceled {
  background-color: #dc3545;
  color: white;
  display: block;
}

.table-row {
  position: relative;
  height: 60px;
  align-items: center;

  &:hover {
    background-color: #f5f5f5;

    .actions {
      opacity: 1;
      visibility: visible;
    }
  }
}

.actions {
  display: flex;
  gap: 0.88rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  margin-top: 1rem;
}

.actionicon:hover {
  background-color: white !important;
  cursor: pointer;
  border: none;
}

.p-button {
  background: none;
  border: none;
  color: black;

}


/* Responsive Design */
@media (max-width: 768px) {
  .instructor-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .instructor-image {
    margin-bottom: 10px;
  }

}

/* ---------------- Review Tab --------------- */


/* Pop show the button */

.p-button {
  background: none;
  border: none;
  color: black;
}


.actionicon:hover {
  background-color: rgb(206, 202, 202);
  border: none;
}

::ng-deep .p-overlaypanel-content {
  padding: 0rem !important;
}

.menu {
  padding: 5px;
  width: 170px;
}

.menu-item {
  display: flex;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #f0f0f0;
}


.actioniconover.p-button {
  transition: none;
  border: none;
}

.actioniconover.p-button:hover {
  background-color: inherit;
  border-color: inherit;
  box-shadow: none;
}

.actioniconover {
  border: none;
  font-size: 10px;
}

.actioniconover:hover {
  border: none;
  background-color: rgb(221, 219, 219);
}

/* Pop show the button */