<section class="shadow-3 border-round-sm">

    <!-- Top header  -->
    <div class="courses-header">
            <h2>Post Jobs</h2>
        <div class="course-actions">
            <button (click)="addJobs()" class="login" mat-raised-button>+ Post Job </button>
        </div>
    </div>
    <!-- Top header  -->

</section>

<!-- 1st conatiner -->
<div class="stats-dashboard">
    <div class="stat-card">
        <p-card>
            <div class="card-content">
                <!-- <div class="header">
                    <span>Number of Employees</span>
                    <span class="percentage">+40%</span>
                </div> -->
                <h2>New Job</h2>
                <p>Total</p>
                <a href="#" class="details-link">Show full stats <i icon="pi pi-calendar"></i></a>
            </div>
        </p-card>
    </div>
    <!-- 1st conatiner -->

    <!-- 2nd conatiner -->
    <div class="stat-card">
        <p-card>
            <div class="card-content">
                <!-- <div class="header">
                    <span>Number of Employees</span>
                    <span class="percentage">+40%</span>
                </div> -->
                <h2>Upcoming Job</h2>
                <p>Total</p>
                <a href="#" class="details-link">Show full stats <i icon="pi pi-calendar"></i></a>
            </div>
        </p-card>
    </div>
    <!-- 2nd conatiner -->

    <!-- 3rd conatiner -->
    <div class="stat-card">
        <p-card>
            <div class="card-content">
                <!-- <div class="header">
                    <span>Number of Employees</span>
                    <span class="percentage">+40%</span>
                </div> -->
                <h2>Result</h2>
                <p>Total</p>
                <a href="#" class="details-link">Show full stats <i icon="pi pi-calendar"></i></a>
            </div>
        </p-card>
    </div>
    <!-- 3rd conatiner -->

    <!-- 4th conatiner -->
    <div class="stat-card">
        <p-card>
            <div class="card-content">
                <!-- <div class="header">
                    <span>Number of Employees</span>
                    <span class="percentage">+40%</span>
                </div> -->
                <h2>Admit Card</h2>
                <p>Total</p>
                <a href="#" class="details-link">Show full stats <i icon="pi pi-calendar"></i></a>
            </div>
        </p-card>
    </div>
    <!-- 4th conatiner -->

</div>