<div id="outer-container">

    <!-- Header -->
    <mat-card class="custom-card mx-3 my-4">
        <mat-card-content class="custom-content">
            <div id="heading">
                <div id="left">
                    <div>
                        <mat-icon class="arrow">arrow_back</mat-icon>
                    </div>
                    <div>
                        <p class="title">
                            List of Staff
                        </p>
                    </div>
                </div>

                <div id="right">
                    <button mat-flat-button class="btn1" (click)="addstaff()">+ Add Staff</button> &nbsp;
                </div>
            </div>

        </mat-card-content>
    </mat-card>
    <!-- Header -->

    
</div>