<div class="dashboard-container">

  <!-- header -->
  <header class="dashboard-header shadow-4">
    <div class="header-content">
      <div class="title-section">
        <h1>Dashboard</h1>
        <p>Welcome to Learning Management Dashboard.</p>
      </div>
    </div>
  </header>
  <!-- header -->

  <!-- 1st Section -->
  <div class="leftsidediv">

    <div class="firstdiv">
      <div class="card overview-card purple  ">
        <i class="pi pi-users"></i>
        <div class="overview-content">
          <span>Total Employees</span>
          <h2>22,124</h2>
          <span class="change">+1.03%</span>
        </div>
      </div>

      <div class="card overview-card blue ">
        <i class="pi pi-briefcase"></i>
        <div class="overview-content">
          <span>Total Jobs</span>
          <h2>528</h2>
          <span class="change">+0.36%</span>
        </div>
      </div>
    </div>

    <div class="seconddiv">

      <div class="card overview-card purple">
        <i class="pi pi-heart"></i>
        <div class="overview-content">
          <span>Draft Jobs</span>
          <h2>8,289</h2>
          <span class="change negative">-1.28%</span>
        </div>
      </div>

      <div class="card overview-card red ">
        <i class="pi pi-bell" (click)="viewLeads()"></i>
        <div class="overview-content">
          <span>New Leads</span>
          <h2>1,453</h2>
          <span class="change positive">+4.25%</span>
        </div>
      </div>
    </div>

    <div class="thirddiv">
      <div class="applicants-summary-container p-shadow-1">
        <div class="summary-header">
          <h4 class="summary-title">Applicants Summary</h4>
        </div>
        <div class="summary-content">
          <div class="applicant-summary-item">
            <i class="pi pi-file applicant-icon purple"></i>
            <p class="summary-label">New Applicants</p>
            <p class="summary-value">2,981</p>
          </div>
          <div class="applicant-summary-item">
            <i class="pi pi-user-plus applicant-icon blue"></i>
            <p class="summary-label">Selected Candidates</p>
            <p class="summary-value">2,981</p>
          </div>
          <div class="applicant-summary-item">
            <i class="pi pi-user-edit applicant-icon yellow"></i>
            <p class="summary-label">Rejected Candidates</p>
            <p class="summary-value">2,981</p>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="rightsidediv shadow-5">
    <div class="rightsidecard chart-card p-3">
      <span>Performance By Category</span>

      <div class="card-header">
        <p-tabMenu [model]="timeRanges" [(activeItem)]="selectedRange"></p-tabMenu>
      </div>
      <div class="card-body">
        <p-chart type="bar" height="300" width="400" [data]="chartData" [options]="chartOptions"></p-chart>
      </div>
    </div>
  </div>
  <!-- 1st Section -->


  <!-- 2nd section -->

  <div class="dashboard-container2">
    <div class="cardchart shadow-4">
      <div class="summary-header">
        <h4 class="summary-title mb-4">Jobs Summary</h4>
      </div>
      <p-chart type="doughnut" [style]="{'width': '100%'}" [data]="donutdata" [options]="donutdataoptions" />

      <div class="summary-footer">
        <div class="status">
          <span class="dot published"></span> Published <br /> {{ publishedCount }}
        </div>
        <div class="status">
          <span class="dot private"></span> Private <br /> {{ privateCount }}
        </div>
        <div class="status">
          <span class="dot closed"></span> Closed <br /> {{ closedCount }}
        </div>
        <div class="status">
          <span class="dot onhold"></span> On Hold <br /> {{ onHoldCount }}
        </div>
      </div>
    </div>

    <div class="upcoming-events">
      <p-card header="Upcoming Events" styleClass="event-card">
        <ul class="event-list">
          <li *ngFor="let event of events" class="event-item">
            <div class="event-date">
              <span class="event-day">{{ event.date }}</span>
              <span class="event-weekday">{{ event.day }}</span>
            </div>
            <div class="event-content">
              <div class="event-title">
                {{ event.title }}
              </div>
              <div class="event-time">
                {{ event.time }}
              </div>
              <div class="event-type">
                <p-tag [styleClass]="event.typeColor">{{ event.type }}</p-tag>
              </div>
            </div>
          </li>
        </ul>
      </p-card>
    </div>
    <!-- 2nd section -->


    <!-- 3rd div  -->

    <div class="maindiv">
      <p-card header="Upcoming Mails" styleClass="event-card">
        <div class="clients">
          <p-table [value]="clients" [paginator]="true" [rows]="rows1" [first]="first"
          (onPage)="onPageChange($event)">
            <ng-template pTemplate="header">
              <tr>
                <th>Client</th>
                <th>Mail</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-client>
              <tr>
                <td>
                  <p-avatar [image]="client.avatar" styleClass="mr-2"
                    [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"></p-avatar>
                  <div>{{ client.name }}</div>
                  <div class="text-sm">{{ client.role }}</div>
                </td>
                <td>{{ client.email }}</td>
                <td>
                  <p-dropdown [options]="statusOptions" [(ngModel)]="client.status"></p-dropdown>
                </td>
                <td>
                  <i class="pi pi-pen-to-square" style="font-size: 1rem"></i>
                  &nbsp;
                  <i class="pi pi-trash" style="font-size: 1rem"></i>
                  <!-- 
                    <button pButton type="button" icon="pi pi-pen-to-square" class="p-button-rounded p-button-text"></button>
                    <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-text"></button>
                  -->
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-card>
    </div>
    <!-- 3rd div  -->

  </div>


  <!-- 3rd section  -->
  <div class="card">
    <div class="header flex justify-content-between p-3">
      <h3 class="summary-title mt-2">Bills Summary</h3>

      <div class="p-d-flex p-ai-center p-gap-2">
        <div class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input type="text" pInputText placeholder="Search Here" />
        </div>
        &nbsp;
        &nbsp;
        &nbsp;
        <!-- <button pButton label="Sort By" icon="pi pi-sort-alt" class="p-button-rounded p-button-info"></button> -->
        <p-dropdown label="Sort By" [options]="billOptions"></p-dropdown>
      </div>
    </div>

    <!-- <p-table [value]="bills" responsiveLayout="scroll" class="p-mb-3"> -->

    <p-table class="mb-3" [value]="bills" [paginator]="true" [rows]="rows" [first]="first"
      (onPage)="onPageChange($event)">
      <ng-template pTemplate="header">
        <tr>
          <th>S.No</th>
          <th>Invoice ID</th>
          <th>Client</th>
          <th>Due Date</th>
          <th>Status</th>
          <th>Amount</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-bill let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ bill.invoiceId }}</td>
          <td>
            <div class="client-info">
              <p-avatar [image]="bill.client.avatar" styleClass="mr-2"
                [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"></p-avatar>
              <div class="client-details">
                <span class="client-name">{{ bill.client.name }}</span>
                <small class="client-email">{{ bill.client.email }}</small>
              </div>
            </div>
          </td>
          <td>{{ bill.dueDate | date: 'dd-MM-yyyy' }}</td>
          <td>
            <p-tag [value]="bill.status" [severity]="getStatusSeverity(bill.status)"></p-tag>
          </td>
          <td>{{ bill.amount | currency: 'USD':'symbol':'1.0-0' }}</td>
          <td>
            <div class="p-d-flex p-ai-center p-gap-2">

              <i class="pi pi-pen-to-square" style="font-size: 1rem"></i>
              &nbsp;
              <i class="pi pi-trash" style="font-size: 1rem"></i>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>



  </div>



</div>