<div class="container">
  <div class="pagetitle">
    <h1>Contact</h1>
  </div>
  <div class="contact-container">
    <!-- Contact info -->
    <div class="info-container">
      <div class="info-box">
        <i class="pi pi-map-marker"></i>
        <h3>Address</h3>
        <p>A108 Adam Street, New York, NY 535022</p>
      </div>
      <div class="info-box">
        <i class="pi pi-phone"></i>
        <h3>Call Us</h3>
        <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
      </div>
      <div class="info-box">
        <i class="pi pi-envelope"></i>
        <h3>Email Us</h3>
        <p>info.com<br>contact.com</p>
      </div>
      <div class="info-box">
        <i class="pi pi-clock"></i>
        <h3>Open Hours</h3>
        <p>Monday - Friday<br>9:00AM - 05:00PM</p>
      </div>
    </div>

    <div class="contact-form">
      <form>
        <div class="form-group">
          <input type="text" name="name" placeholder="Your Name" class="form-control">
        </div>
        <div class="form-group">
          <input type="email" name="email" placeholder="Your Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="subject" placeholder="Subject" class="form-control">
        </div>
        <div class="form-group">
          <textarea name="message" rows="5" placeholder="Message" class="form-control"></textarea>
        </div>
        <div class="form-btn">
          <button type="submit" class="uploadimage">Send Message</button>
        </div>
      </form>
    </div>
  </div>
</div>
