<!-- top-header -->
<div class="p-dialog-header">
    <h2 class="p-dialog-title">Set Timezone</h2>
    <i class="pi pi-times cross" (click)="onCancelClick()"></i>
</div>

<!-- main-section -->
<div class="box">
    <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true" filterBy="name"
        [showClear]="true" placeholder="Bangladesh (GMT +6:00)">
    </p-dropdown>

    <div class="field field-full p-3">
        <button class="button" pButton type="button" label="Save" (click)="changeLanguage()"></button>
    </div>
</div>