#maintablediv {
    width: 100%;
}

#tablediv {
    width: 100%;
    overflow: auto;
    padding: 0;
}

tr:nth-child(even) {
    background: rgba(233, 233, 233, 0.4);

    
}

thead th {
    text-align: center;
    border: 0;
    /* background-color: #7C7FBB; */
    /* color: white; */
    min-width: fit-content;
}

thead th:first-child {
    border-top-left-radius: 18px;
}

thead th:last-child {
    border-top-right-radius: 16px;
}

tbody td {
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Mulish', sans-serif;
    border: 0;
    font-weight: 700;
    white-space: normal;
    word-break: break-all;
}

thead th {
    text-align: center;
    border: 0;
    white-space: normal;
    word-break: break-all;
}

.table {
    width: 100%;
    /* border-collapse: collapse; */
    border-collapse: separate;
}

.actiondiv {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.paginationdiv {
    display: flex;
    margin-top: 1vh;
    justify-content: right;
  }

  select{
    height: 3vh;
    width: 4vw;
  }