<div id="main">            

    <section class="shadow-3 border-round-sm">
        <header class="heading">
            <div class="title-section">
                <h1>Menubar List</h1>
            </div>
        </header>
    </section>

    <p-table [value]="instructors" responsiveLayout="scroll" [paginator]="true" [rows]="rows" [first]="first"
        (onPage)="onPageChange($event)">
        <ng-template pTemplate="header">
            <tr>
                <th>Sr no.</th>
                <th>Menu Name</th>
                <th>Hide/Show</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-instructor>
            <tr class="table-row">
                <td>{{ instructor.phone }} </td>
                <td>{{ instructor.country }}</td>
                <td><p-inputSwitch [(ngModel)]="checked" /></td>
            </tr>
        </ng-template>
    </p-table>

</div>