<div id="main">

    <section class="shadow-3 border-round-sm">

        <!-- Top header  -->
        <div class="courses-header">
            <div class="course-info">
                <h2>Admission Enquiries</h2>
            </div>
            <button class="login" mat-raised-button (click)="addnew()">+ Add New </button>
        </div>
        <!-- Top header  -->
    </section>

    <section class="shadow-3 border-round-sm">
        <div class="table-container">
            <p-table [value]="courses" [paginator]="true" [rows]="rows" [first]="first" (onPage)="onPageChange($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Source</th>
                        <th>Enquiry Date</th>
                        <th>Follow Up Date</th>
                        <th>Status</th>
                        <th>Name</th>
                        <th>Mobile</th>
                        <th>Enquiry For</th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-course>
                    <tr>
                        <td data-label="Number">{{ course.number }}</td>
                        <td data-label="Name">{{ course.OngoingStatus }}</td>
                        <td data-label="Deadline">{{ course.deadline }}</td>
                        <td data-label="Deadline">{{ course.deadline }}</td>
                        <td data-label="Status"><span class="status" [ngClass]="course.statusClass">{{
                                course.status}}</span></td>
                        <td data-label="Instructor">{{ course.instructor }}</td>
                        <td data-label="Price">{{ course.price }}</td>
                        <td data-label="Category">{{ course.category }}</td>
                        <td>
                            <button class="actionicon" pButton type="button" icon="pi pi-ellipsis-h"
                                (click)="op.toggle($event)"></button>

                            <p-overlayPanel #op>
                                <div class="menu">
                                    <div class="menu-item" (click)="EditCourse()">
                                        <button class="actioniconover" (click)="selectbtn(op)" label="Edit" pButton
                                            type="button"></button>
                                    </div>

                                    <div class="menu-item" (click)="DeleteCourse()">
                                        <button class="actioniconover" (click)="selectbtn(op)" label="Delete" pButton
                                            type="button"></button>
                                    </div>

                                </div>
                            </p-overlayPanel>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </section>

</div>