<div id="main">
    <!-- Top header  -->
    <section class="shadow-3 border-round-sm">
        <header class="heading">
            <div class="title-section">
                <h1>Site Settings</h1>
            </div>
        </header>
    </section>
    <!-- Top header -->

<!-- Main Content -->

    <div class="p-fluid form-layout mt-4 p-3">

        <div class="field field-half">
            <label for="course">Twitter Link</label>
            <input id="country" type="text" pInputText [(ngModel)]="country" class="custom-input">
        </div>

        <div class="field field-half">
            <label for="country">Facebook Link</label>
            <input id="country" type="text" pInputText [(ngModel)]="country" class="custom-input">
        </div>

        <div class="field field-half">
            <label for="state">Youtube Link</label>
            <input id="state" type="text" pInputText [(ngModel)]="state" class="custom-input">
        </div>

        <div class="field field-half">
            <label for="payment">LinkedIn Text</label>
            <input id="state" type="text" pInputText [(ngModel)]="state" class="custom-input">
        </div>

        <div class="field field-half">
            <label for="payment">Instagram Link</label>
            <input id="state" type="text" pInputText [(ngModel)]="state" class="custom-input">
        </div>

        <div class="field field-half">
            <label for="payment">Telegram Link</label>
            <input id="state" type="text" pInputText [(ngModel)]="state" class="custom-input">
        </div>
        
    </div>

    <div class="field field-full p-3">
        <button class="button" pButton type="button" label="Submit" (click)="enrollStudent()"></button>
    </div>

<!-- Main Content -->
</div>