<div id="main">
    <!-- Top header  -->
    <section class="shadow-3 border-round-sm">
        <header class="heading">
            <div class="title-section">
                <h1>Front Office Setup</h1>
            </div>
        </header>
    </section>
    <!-- Top header -->

    <!-- 2nd Section -->

    <p-tabView>
        <!-- Personal Information -->
        <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <span class="font-bold white-space-nowrap m-0">
                        Source
                    </span>
                </div>
            </ng-template>

                <div class="courses-header">
                    <div class="course-info">
                        <h2>Enquiry Source List</h2>
                    </div>
                    <button class="login" mat-raised-button (click)="addnew()">+ Add New </button>
                </div>

                <div class="top-header">
                    <input type="text" pInputText placeholder="Search" />
                    <!-- <div class="header-controls">
                        <button pButton type="button" label="making .csv type file button" class="button"></button>
                        <button pButton type="button" label="making copy button" class="button"></button>
                    </div> -->
                </div>

                <p-table [value]="courses" responsiveLayout="scroll" [paginator]="true" [rows]="rows1" [first]="first"
                (onPage)="onPageChange($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Source</th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-course let-i="rowIndex">
                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ course.name }}</td>
                        <td class="header-controls">
                            <i class="actionicon pi pi-pencil" (click)="editCourse1()"></i>
                            <i class="actionicon pi pi-times cross" (click)="deleteCourse1(i)"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </p-tabPanel>
        <!-- Personal Information -->

        <!-- Courses -->
        <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <span class="font-bold white-space-nowrap m-0">
                        Enquiry Reason
                    </span>
                </div>
            </ng-template>
            
            <div class="courses-header">
                <div class="course-info">
                    <h2>Enquiry Reason for Course or Class</h2>
                </div>
                <button class="login" mat-raised-button (click)="addnew()">+ Add New </button>
            </div>

            <div class="top-header">
                <input type="text" pInputText placeholder="Search" />
                <!-- <div class="header-controls">
                    <button pButton type="button" label="making .csv type file button" class="button"></button>
                    <button pButton type="button" label="making copy button" class="button"></button>
                </div> -->
            </div>

            <p-table [value]="courses" responsiveLayout="scroll" [paginator]="true" [rows]="rows1" [first]="first"
            (onPage)="onPageChange($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th>Reason Name</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-course let-i="rowIndex">
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ course.name }}</td>
                    <td class="header-controls">
                        <i class="actionicon pi pi-pencil" (click)="editCourse1()"></i>
                        <i class="actionicon pi pi-times cross" (click)="deleteCourse1(i)"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        </p-tabPanel>
        <!-- Courses -->

        <!-- Review -->
        <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <span class="font-bold white-space-nowrap m-0">
                        Transfer To
                    </span>
                </div>
            </ng-template>

            <div class="courses-header">
                <div class="course-info">
                    <h2>Transfer List</h2>
                </div>
                <button class="login" mat-raised-button (click)="addnew()">+ Add New </button>
            </div>

            <div class="top-header">
                <input type="text" pInputText placeholder="Search" />
                <!-- <div class="header-controls">
                    <button pButton type="button" label="making .csv type file button" class="button"></button>
                    <button pButton type="button" label="making copy button" class="button"></button>
                </div> -->
            </div>

             <p-table [value]="courses" responsiveLayout="scroll" [paginator]="true" [rows]="rows1" [first]="first"
                (onPage)="onPageChange($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Transfer Name</th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-course let-i="rowIndex">
                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ course.name }}</td>
                        <td class="header-controls">
                            <i class="actionicon pi pi-pencil" (click)="editCourse1()"></i>
                            <i class="actionicon pi pi-times cross" (click)="deleteCourse1(i)"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </p-tabPanel>

    </p-tabView>

    <!-- </section> -->

</div>