<div class="p-dialog-header">
    <span class="p-dialog-title">Add New Notice</span>
    <i class="pi pi-times cross" (click)="onCancelClick()"></i>
</div>

<div class="p-fluid form-layout p-3">

    <div class="field field-half">
        <label for="state">Topic</label>
        <input id="state" type="text" pInputText [(ngModel)]="state" class="custom-input">
    </div>

    <div class="field field-half">
        <label for="state">Expiry Date</label>
        <input id="state" type="text" pInputText [(ngModel)]="state" class="custom-input">
    </div>

    <div class="p-field field-half mt-3">
        <label for="state">Notice</label>
        <textarea id="description" name="description" rows="5" cols="30" pInputTextarea class="custom-input mt-2"
            required spellcheck="true">
        </textarea>
    </div>

</div>

<div class="field field-full p-3">
    <button class="button" pButton type="button" label="Submit Now"></button>
</div>