<div id="main">

    <!-- Top header  -->
    <section class="shadow-3 border-round-sm">
        <div class="courses-header">
            <h2>Visitor Books</h2>
        </div>
    </section>
    <!-- Top header  -->

    <section class="shadow-3 border-round-sm">

        <h1>Select Criteria</h1>

        <div class="p-fluid form-layout mt-4 p-3">

            <div class="field field-half">
                <label for="state">From Date</label>
                <input id="state" type="text" pInputText [(ngModel)]="state" class="custom-input">
            </div>

            <div class="field field-half">
                <label for="state">To Date</label>
                <input id="state" type="text" pInputText [(ngModel)]="state" class="custom-input">
            </div>

        </div>

        <div class="field field-full p-3">
            <button class="button" pButton type="button" label="Search"></button>
            <button class="button" pButton type="button" label="Reset"></button>
        </div>

    </section>

    <section class="shadow-3 border-round-sm">

        <div class="courses-header">
            <div class="course-info">
                <h2>Visitors List</h2>
            </div>
            <button class="login" mat-raised-button (click)="addnew()">+ Add New </button>
        </div>

        <div class="top-header">
            <input type="text" pInputText placeholder="Search" />
            <!-- <div class="header-controls">
                <button pButton type="button" label="making .csv type file button" class="button mr-2"></button>
                <button pButton type="button" label="making copy button" class="button"></button>
            </div> -->
        </div>

        <p-table [value]="instructors" responsiveLayout="scroll" [paginator]="true" [rows]="rows" [first]="first"
            (onPage)="onPageChange($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th>Sr no.</th>
                    <th>Actions</th>
                    <th>Visitors Name</th>
                    <th>Id No.</th>
                    <th>Mobile</th>
                    <th>Meeting With</th>
                    <th>Total Person</th>
                    <th>Date</th>
                    <th>In Time</th>
                    <th>Out Time</th>
                    <th>Purpose</th>
                    <th>Documents</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-instructor>
                <tr class="table-row">
                    <td>{{ instructor.phone }} </td>
                    <td>{{ instructor.country }}</td>
                    <td>{{ instructor.user }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ instructor.activeCourses }}</td>
                    <td>
                        <button class="actionicon" pButton type="button" icon="pi pi-ellipsis-h"
                            (click)="op.toggle($event)"></button>

                        <!-- Overlay Panel -->
                        <p-overlayPanel #op>
                            <div class="menu">
                                <div class="menu-item">
                                    <button class="actioniconover" (click)="selectbtn(op)" label="Edit" pButton
                                        type="button"></button>
                                </div>

                                <div class="menu-item">

                                    <button class="actioniconover" (click)="selectbtn(op)" label="Delete" pButton
                                        type="button"></button>
                                </div>
                            </div>
                        </p-overlayPanel>

                    </td>
                </tr>
            </ng-template>
        </p-table>

    </section>



</div>