/* top css */
#main {
    width: 97%;
    margin: auto;
  }
  
  .p-dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f4f4f4;
  }
  
  .p-dialog-title {
    font-weight: bold;
  }

  .pi {
    cursor: pointer;
  }
  
  /* top css */
  
  
  /* Table data css */
  .table-container {
    padding: 16px;
    width: 100%;
    margin: 2px 1px 1px 1px;
  }
  
  .p-datatable table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  .p-datatable th,
  .p-datatable td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .p-datatable th {
    background-color: #f4f4f4;
  }
  
  .p-datatable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .course-badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
  }
  
  .course-badge.rd {
    background-color: #7c4dff;
  }
  
  .course-badge.ad {
    background-color: #00bcd4;
  }
  
  .course-badge.ud {
    background-color: #ffb300;
  }
  
  .course-badge.wt {
    background-color: #7c4dff;
  }
  
  .login1 {
    font-size: 16px;
    font-weight: 400;
    background-color: #0D1046 !important;
    color: #fff !important;
    border: 1px solid #0D1046;
    height: 74%;
    margin-right: 0.2rem;
  }

  .pr-0 {
    margin-right: 0;
  }

  .pl-0 {
    margin-left: 0;
  }
  
  .status {
    padding: 5px 10px;
    border-radius: 12px;
    text-align: center;
    width: 78%;
  }
  
  .status.active {
    background-color: #28a745;
    color: white;
    display: block;
  }
  
  .status.pending {
    background-color: #ffc107;
    color: white;
    display: block;
  }
  
  /*
  @media screen and (max-width: 768px) {
      .p-datatable table, .p-datatable tbody, .p-datatable tr, .p-datatable td {
          display: block;
          width: 100%;
      }
      .p-datatable tr {
          margin-bottom: 15px;
      }
      .p-datatable td {
          text-align: right;
          padding-left: 50%;
          position: relative;
      }
      .p-datatable td::before {
          content: attr(data-label);
          position: absolute;
          left: 10px;
          width: 45%;
          padding-right: 10px;
          text-align: left;
          font-weight: bold;
      }
  } */
  
  /* Table data css */
  
  
  
  /* Pop show the button */
  
  .p-button {
    background: none;
    border: none;
    color: black;
  }
  
  
  .actionicon:hover {
    background-color: rgb(206, 202, 202);
    border: none;
  }
  
  ::ng-deep .p-overlaypanel-content {
    padding: 0rem !important;
  }
  
  .menu {
    padding: 5px;
    width: 170px;
  }
  
  .menu-item {
    display: flex;
    cursor: pointer;
  }
  
  .menu-item:hover {
    background-color: #f0f0f0;
  }
  
  
  .actioniconover.p-button {
    transition: none;
    border: none;
  }
  
  .actioniconover.p-button:hover {
    background-color: inherit;
    border-color: inherit;
    box-shadow: none;
  }
  
  .actioniconover {
    border: none;
    font-size: 10px;
  }
  
  .actioniconover:hover {
    border: none;
    background-color: rgb(221, 219, 219);
  }
  
  /* Pop show the button */