<div id="main">

    <!-- Top header  -->
    <section class="shadow-3 border-round-sm">
        <div class="courses-header">
            <div class="course-info">
                <h2>Student ID Card</h2>
            </div>
        </div>
    </section>
    <!-- Top header  -->

    <section class="shadow-3 border-round-sm">

        <h1>Select Criteria</h1>

        <div class="p-fluid form-layout mt-4 p-3">

            <div class="field field-half">
                <label for="state">Background Image</label>
                <input id="state" type="text" pInputText [(ngModel)]="state" class="custom-input">
            </div>

            <div class="field field-half">
                <label for="state">Institute Name</label>
                <input id="state" type="text" pInputText [(ngModel)]="state" class="custom-input">
            </div>

            <div class="field field-half">
                <label for="state">Institute Logo</label>
                <div class="file-upload">
                    <span class="file-name">No file selected</span>
                    <label for="fileInput" class="custom-file-upload">
                        <i class="pi pi-upload"></i> Choose File
                    </label>
                    <input type="file" id="fileInput" (change)="onFileSelected($event)" class="custom-file-input"
                        accept=".png, .jpg, .jpeg, .pdf" multiple>
                </div>
            </div>

            <div class="field field-half">
                <label for="country">Signature</label>
                <div class="file-upload">
                    <span class="file-name">No file selected</span>
                    <label for="fileInput" class="custom-file-upload">
                        <i class="pi pi-upload"></i> Choose File
                    </label>
                    <input type="file" id="fileInput" (change)="onFileSelected($event)" class="custom-file-input"
                        accept=".png, .jpg, .jpeg, .pdf" multiple>
                </div>
            </div>

            <div class="field field-half">
                <label for="country">ID Card Title</label>
                <input id="country" type="text" pInputText [(ngModel)]="country" class="custom-input">
            </div>

            <div class="field field-half">
                <label for="country">Institute Address / Phone / Email</label>
                <input id="country" type="text" pInputText [(ngModel)]="country" class="custom-input">
            </div>

        </div>

        <div class="field field-full p-3">
            <button class="button" pButton type="button" label="Update"></button>
        </div>

    </section>

    <section class="shadow-3 border-round-sm">

        <div class="courses-header">
            <div class="course-info">
                <h2>Student List</h2>
            </div>
        </div>

        <div class="top-header">
            <input type="text" pInputText placeholder="Search" />
        </div>

        <p-table [value]="instructors" responsiveLayout="scroll" [paginator]="true" [rows]="rows" [first]="first"
            (onPage)="onPageChange($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th>Sr no.</th>
                    <th>Download</th>
                    <th>Share On</th>
                    <th>Class</th>
                    <th>Section</th>
                    <th>Admission No</th>
                    <th>Roll No</th>
                    <th>Name</th>
                    <th>Photo</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-instructor>
                <tr class="table-row">
                    <td>{{ instructor.phone }} </td>
                    <td>{{ instructor.country }}</td>
                    <td>{{ instructor.user }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ instructor.activeCourses }}</td>
                    <td>
                        <button class="actionicon" pButton type="button" icon="pi pi-ellipsis-h"
                            (click)="op.toggle($event)"></button>

                        <!-- Overlay Panel -->
                        <p-overlayPanel #op>
                            <div class="menu">
                                <div class="menu-item">
                                    <button class="actioniconover" (click)="selectbtn(op)" label="Edit" pButton
                                        type="button"></button>
                                </div>

                                <div class="menu-item">

                                    <button class="actioniconover" (click)="selectbtn(op)" label="Delete" pButton
                                        type="button"></button>
                                </div>
                            </div>
                        </p-overlayPanel>

                    </td>
                </tr>
            </ng-template>
        </p-table>

    </section>



</div>