<div class="p-dialog p-component p-fluid">
  <div class="p-dialog-header">
      <span class="p-dialog-title">Attendance Report</span>
      <span class="close-icon">
      <i class="pi pi-times cross" (click)="closeDialog()"></i>
    </span>

  </div>
  <!-- Header Section -->
  <div class="attendance-header">
    <div class="header-main">
      <div class="class-header">
        <h3>How to Make an Array and its Types in C++</h3>
      </div>
      <div class="button">
        <button class="submit-btn" (click)="confirm1($event)">Submit Attendance</button>
      </div>
    </div>
  </div>
    

    <div class="batch-details">
      <div class="batch-badge">
        <span>Batch 3CO - JVY</span>
    </div>
      <span><i class="pi pi-clock"></i> 12:40 P:M</span>
      <span><i class="pi pi-calendar"></i> 03 Jan 2023</span>
      <div class="status-badge">
        <span>Status: Completed</span>
    </div>
    </div>
  

  <!-- Scrollable Table Section -->
  <div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Attendance</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ student.name }}</td>
                <td>
                  <p-badge 
                  [value]="student.status === 'present' ? 'Present' : 'Absent'" 
                  [severity]="student.status === 'present' ? 'success' : 'danger'"
                  [style.cursor]="'pointer'"  
                  (click)="toggleAttendance(student)"
                ></p-badge>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</div>
<div class="card flex justify-content-center gap-2">
  <p-toast />
  <p-confirmDialog />
</div>