/* You can add global styles to this file, and also import other style files */

@import 'primeflex/primeflex.css'; 
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Mulish', sans-serif;
    height: 100%;
    background-color: #D6E0FA !important;
    
}



/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(156, 155, 155);
    border-radius: 2px;
}

::-webkit-scrollbar {
    display: none;
}